@import "tailwindcss";

:root {
  --background: #EEF0F2;
  --foreground: #0C0910;
  --accent: #82667F;
  --accent-secondary: #B486AB;
  --link-hover: #83B692;
  --nav-background: #A5A9B6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cecamro: 'Cecamro', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0910;
    --foreground: #EEF0F2;
    --nav-background: #1D1627;
  }
}

@font-face {
  font-family: 'Cecamro';
  src: url('/fonts/cecamro.ttf') format('truetype'); /* or .woff2/.woff */
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Trebuchet MS, Verdana, Arial, sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: var(--accent);
  color: var(--background);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-secondary);
}

nav {
  background-color: var(--nav-background);
  color: var(--background);
  padding: 1rem;
}

a {
  color: var(--foreground);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover);
}